.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  text-align: center;
  border-top:3px solid black;
  padding: 5px;
}
.header {
  width: 100%;
  background: #474747;
  border-bottom:3px solid black;
  padding: 5px;
}
.header-button{
  padding: 10px;
  margin: 5px;
  width: 100px;
}
.input-field{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.ad-title{
  font-size: 15px;
}
.ad-url{
  font-size: 10px;
}
.ad-picture{
  max-width: 300px;
}

.ad-list{
  max-width: 400px;
}

.user-display{
  float: right;
  width: unset;
  font-weight: bold;
  background-color: #b3ffb3;
  color: #606060;
  font-style: italic;
  border: solid white;
}

.error{
  color: #ff6767;
}

.my-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}